<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<script type="text/javascript" src="../../Utils/mootools/core.js"></script>
	<script type="text/javascript" src="../../Utils/mootools/more.js"></script>
		
	<script type="text/javascript" src="../../Utils/mooCanvas.js"></script>
	
	<script type="text/javascript" src="../../../ui/Source/Base/UI.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Base/Paint.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Base/Skin.js"></script>

	<script type="text/javascript" src="../../../ui/Source/Element/Element.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Element/Label.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Element/Scrollbar.js"></script>
	
	<script type="text/javascript" src="../../../ui/Source/Form/Control.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Form/Button.js"></script>
	
	<script type="text/javascript" src="../../../ui/Source/View/View.js"></script>
	<script type="text/javascript" src="../../../ui/Source/View/TabView.js"></script>
	
	<script type="text/javascript" src="../../../ui/Source/Window/Window.js"></script>
	<script type="text/javascript" src="../../../ui/Source/Window/Panel.js"></script>
	

	<script type="text/javascript" src="../../../skins/AquaGraphite.js"></script>
	<script type="text/javascript" src="../../../skins/Demo.js"></script>
	<script type="text/javascript" src="../../../skins/TouchBlue.js"></script>
	
	<title>MooLego TabView Component Playground</title>
	
	<script type="text/javascript">
		window.addEvent('load', function() {
			var time = $time();

			var window = new UI.Panel({
				title : 'tabview sample',
				tabView: {
					tabs: [{
						name: 'Chapter 1',
						url: 'assets/pulp1.json'
					}, {
						name: 'Chapter 2',
						url: 'assets/pulp2.json',
						selected: true
					}, {
						name: 'Chapter 3',
						url: 'assets/pulp3.json'
					}, {
						name: 'Chapter 4',
						url: 'assets/pulp4.json'
					}]
				},
				width : 600,
				height : 400
			});
		});
	</script>
</head>

<body style="overflow:hidden"></body>

</html>
