<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<script type="text/javascript" src="../Asset/js/mootools-core.js"></script>
	<script type="text/javascript" src="../Asset/js/mootools-more.js"></script>
		
	<script type="text/javascript" src="../Asset/js/mooCanvas.js"></script>
	
	<script type="text/javascript" src="../../Source/Base/UI.js"></script>
	<script type="text/javascript" src="../../Source/Base/Paint.js"></script>
	<script type="text/javascript" src="../../Source/Base/Skin.js"></script>
	
	<script type="text/javascript" src="../../Source/Element/Element.js"></script>
	<script type="text/javascript" src="../../Source/Element/Scrollbar.js"></script>
	<script type="text/javascript" src="../../Source/Element/Label.js"></script>

	<script type="text/javascript" src="../../Source/Form/Control.js"></script>
	<script type="text/javascript" src="../../Source/Form/Button.js"></script>
	<script type="text/javascript" src="../../Source/View/View.js"></script>
	
	<script type="text/javascript" src="../../Source/Window/Window.js"></script>
	
	<script type="text/javascript" src="../../Skins/AquaGraphite.js"></script>

		
	<script type="text/javascript" src="js/examples.js"></script>

	<title>MooLego SplitView - Component Playground</title>
	
	<script type="text/javascript">
		window.addEvent('load', function() {
			var time = $time();
			
			var view = new UI.View({
				tag:'pre',
				width: 600,
				height: 160,
				direction:'horizontal',
				resizable: false,
				styles: {
					margin: '0px',
					backgroundColor: '#fff',
					fontFamily: ''

				}
			}).inject($(document.body))
			.setContent('ajax','assets/pulp0.json');
			
			var view = new UI.View({
				width: 400,
				height: 160,
				direction:'horizontal',
				resizable: false,
				styles: {
					margin: '40px',
					backgroundColor: '#fff',
					border: '1px solid #ccc',
					fontSize:'8px'
				}
			}).inject($(document.body))
			.setContent('ajax','assets/pulp2.json');
			
			var view = new UI.View({
				width: 400,
				height: 160,
				direction:'horizontal',
				resizable: false,
				styles: {
					margin: '40px',
					backgroundColor: '#fff',
					border: '1px solid #ccc',
					fontSize:'8px'
				}
			}).inject($(document.body))
			.setContent('ajax','assets/pulpfull.json');
		});
	</script>
</head>

<body bgcolor="#e8e8e8"></body>

</html>
